# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.log

# Bytecode / caches
.cache/
.pytest_cache/

# -------------------------
# Virtualenv
# -------------------------
venv/
.venv/

# -------------------------
# Django
# -------------------------
db.sqlite3
*.sqlite3
media/

# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/

# -------------------------
# Local notes (do not submit)
# -------------------------
notes.md
